<div class="revenue-analytics">
  <div class="revenue-analytics__header">
    <h5 class="revenue-analytics__title">Revenue Analytics</h5>
    <select
      class="revenue-analytics__select"
      (change)="onViewChange($event)"
      [value]="viewType()"
    >
      <option value="Monthly">Monthly</option>
      <option value="Yearly">Yearly</option>
    </select>
  </div>

  <div class="revenue-analytics__body">
    <p-chart
      height="360px"
      class="revenue-analytics__chart"
      type="line"
      [data]="chartData()"
      [options]="chartOptions"
    ></p-chart>
  </div>
</div>
