.sidebar {
  width: 300px;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 100;
  height: calc(100vh - 48px);
  padding: 18px 0;
  background: linear-gradient(to bottom, #0f172b 0%, #1a253d 100%);
  overflow-y: auto;
  transition: transform 0.3s ease;

  &--closed {
    transform: translateX(-100%);
  }

  &__icon {
    width: 32px;
    padding: 4px;
    border-radius: 8px;
    filter: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(0%)
      hue-rotate(360deg) brightness(115%) contrast(100%);
    transition: filter 0.3s ease;
    background-color: #fafafa0d;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 21px;
    padding: 8px 24px;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 8px;
    color: #ffffff80;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-white);

      .sidebar__icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__text {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    top: 48px;
    height: calc(100vh - 48px);
    width: 260px;
    padding: 14px 0;

    &__icon {
      width: 22px;
    }

    &__link {
      gap: 18px;
      padding: 12px 10px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
