<div class="sidebar" [class.sidebar--closed]="!isOpen()">
  <nav>
    <ul>
      @for (item of menuItems; track item.id) {
      <li>
        <a
          routerLink="{{ item.path }}"
          class="sidebar__link"
          routerLinkActive="sidebar__link--selected"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onMenuClick()"
        >
          <i class="sidebar__link__icon {{ item.icon }}"></i>{{ item.name }}
        </a>
      </li>
      }
    </ul>
  </nav>

  <div class="sidebar__upgrade">
    <div class="sidebar__upgrade__content">
      <h4 class="sidebar__upgrade__title">Upgrade to Pro</h4>
      <p class="sidebar__upgrade__desc">
        Get one month free and subscribe to pro
      </p>
      <button class="sidebar__upgrade__btn">Subscribe</button>
    </div>
    <i class="sidebar__upgrade__bg-icon mdi mdi-home-city-outline"></i>
  </div>
</div>
